<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img class="logo" src="images/logo4.png" width="85%"> </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/logout">Log-out</a></li>

      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/home">Home</a></li>
  <li><a href="/logout">Log-out</a></li>

</ul>

{{!-- display map route --}}
<div class="container">
  <div id="map"></div>
  <span id="start">{{start}}</span>
  <span id="end">{{end}}</span>
  <span id="calendar">{{calendar}}</span>
  <span id="clock">{{clock}}</span>
  <span id="transMethod">{{transMethod}}</span>

  <div id="directions"></div>

</div>


{{!-- display matches --}}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title" id="match-result"></h5>
          <table >
            <thead>
              <tr>
                <th id="match-name">Name</th>
                <th id="match-contact">email</th>
                
              </tr>
            </thead>
            <tbody id="match">
              <!-- Results from DB here -->
            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
<!-- javascript file -->
{{!-- <script src="js/index.js"></script> --}}
<script src="js/maps.js"></script>
<script src="api/google/initMap"></script>