<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img class="logo" src="images/logo4.png" width="85%"> </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/logout">Log-out</a></li>

      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/home">Home</a></li>
  <li><a href="/logout">Log-out</a></li>

</ul>

{{!-- display map route --}}
<div class="container">
  <div id="map"></div>
  <span id="start">{{start}}</span>
  <span id="end">{{end}}</span>
  <span id="calendar">{{calendar}}</span>
  <span id="clock">{{clock}}</span>
  <span id="transMethod">{{transMethod}}</span>

  <div id="directions"></div>

</div>


{{!-- display matches --}}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">We found a match!</h5>
          <p>
            <strong>Name</strong>: {{user.name}}</p>
          <p>
            <p>
              <strong>Destination</strong>: {{plan.destination}}</p>
            <p>
              <strong>Arrival Date Time</strong> {{plan.arrivalDateTime}}</p>

            <p>
              <strong>Transportation:</strong> {{plan.transportation}}</p>
            <p>
              <strong>Contact:</strong> {{user.email}}</p>

        </div>
      </div>
    </div>
  </div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm4aPJGDNZiUQ1xbP5TAncDiR2hJdOP-M&callback=initMap"></script>