<div class="container">
    <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">We found a match!</h5>
          <p>
            <strong>Name</strong>: {{person.name}}</p>
          <p>
          <p>
            <strong>Destination</strong>: {{person.destination}}</p>
          <p>
            <strong>Date:</strong> {{person.date}}</p>
          
           <p>
            <strong>Time:</strong> {{person.time}}</p>
          <p>
            <strong>Transportation:</strong> {{person.transportation}}</p>
          <p>
            <strong>Contact:</strong> {{person.contact}}</p>
           
        </div>
      </div>
    </div>
  </div>
</div>